<?php
// Create a constant array with credentials
const CONF = array(
    "servername" => "servername",
    "username" => "dbusername",
    "password" => "dbpassword",
    "dbname" => "databasename"
);
?>
