body {
	font-family: Arial, Helvetica, sans-serif;
	/* background-color: #3c3c84; */
  background-image: url('/img/bg1.gif');
  background-size: contain;
	color: #ffffff;
}

a:link {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #ffffff;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
  text-decoration: underline;
}

a:active {
  color: #ffffff;
  text-decoration: underline;
}

h1.header {
  margin: 0px;
}

h2.title {
  margin: 0px;
}

th {
  text-align: left;
}